* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    z-index: 8000;
}

header {
    display: block;
    overflow: hidden;
    position: relative;
    padding-bottom: 2.5em;
    -moz-border-radius-topleft: 8px;
    -webkit-border-top-left-radius: 8px;
    border-top-left-radius: 8px;
    -moz-border-radius-topright: 8px;
    -webkit-border-top-right-radius: 8px;
    border-top-right-radius: 8px;
}

.container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 290px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    /*padding-bottom: ;*/
    background-color: #e8e8e9;
    -webkit-box-shadow: #bdc3c7 0 5px 5px;
    -moz-box-shadow: #bdc3c7 0 5px 5px;
    box-shadow: #bdc3c7 0 5px 5px;
    -webkit-animation: fade-in .3s linear 1;
    -moz-animation: fade-in .3s linear 1;
}

@-webkit-keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.bg {
    border-bottom: 8px solid #ccc;
}

.bio:hover > .desc {
    cursor: pointer;
    opacity: 1;
}

.avatarcontainer {
    position: absolute;
    bottom: 0;
    left: 25px;
    margin: auto;
    width: 70px;
    /*height: 70px;*/
    display: block;
}

.avatarcontainer:hover > .hover {
    opacity: 1;
}

.avatar {
    width: 100%;
    border: 8px solid #ccc;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.avatar:hover + .hover {
    opacity: 1;
    cursor: pointer;
}

.hover {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    top: 0;
    font-size: 1.8em;
    text-align: center;
    color: white;
    opacity: 0;
    font-weight: 300;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
}

.data {
    margin-top: .6em;
    color: #81878b;
}

.data li {
    width: 49%;
    text-align: center;
    display: inline-block;
    font-size: 1.2em;
    border-right: solid 1px #bdc3c7;
}

.data li:hover {
    color: #9e52bd;
    cursor: pointer;
}

.data li:last-child {
    border: none;

}

.data li span {
    display: block;
    text-transform: uppercase;
    font-size: .5em;
    margin-top: .6em;
    font-weight: 700;
}

.desc {
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 151px;
    padding: 0.2em 0.5em 0 0.5em;
    color: white;
    text-align: center;
    opacity: 0;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}

.desc h3 {
    font-size: 1.2em;
    margin-bottom: .5em;
}

.desc p {
    font-size: .9em;

    line-height: 1.5em;
}

.follow {
    position: absolute;
    right: 20px;
    margin: 0.3em;
    background-color: #b9a6e2;
    width: 100px;
    color: white;
    text-align: center;
    padding: .5em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;

    border-radius: 5px;
}

.follow:hover {
    background-color: #9e52bd;
    cursor: pointer;
}

.info {
    margin-left: 1.0em;
    margin-right: 1.0em;
    color: #14171a;
    font-size: 14px;
    font-weight: bold;
}

.info > span {
    font-family: "Arial Black";
    font-weight: 800;
    font-size: large;
}

.info .infos {
    margin-left: 2.5em;
    margin-right: 1.5em;
}

.infos ul {
    margin: 0;
    margin-top: 0.5em;
}

.tags ul {
    margin: 0;
}

.tags li {
    display: inline;
    color: #9e52bd;
    margin: 0;
    padding: 0;
}

.modal-container {
    display: block;

}

.modal-container .modal-btn {
    display: block;
    margin: 0 auto;
    color: #fff;
    width: 160px;
    height: 50px;
    line-height: 50px;
    background: #446CB3;
    font-size: 22px;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 5px 5px -5px #333;
    transition: background 0.3s ease-in;
}

.modal-container .modal-btn:hover {
    background: #365690;
}

.modal-container .modal-content,
.modal-container .modal-backdrop {
    height: 0;
    width: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    cursor: pointer;
    transition: opacity 0.2s ease-in;
}

/*.modal-container .modal-content{
    overflow: scroll;
}*/
.modal-container .modal-close {
    color: #aaa;
    position: absolute;
    right: 5px;
    top: 5px;
    padding-top: 3px;
    background: #fff;
    font-size: 16px;
    width: 25px;
    height: 25px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.modal-container .modal-close:hover {
    color: #333;
}

.modal-container .modal-content-btn {
    /*position: absolute;*/
    float: right;
    text-align: center;
    cursor: pointer;
    padding: 7px;
    margin: 3px;
    bottom: 20px;
    right: 30px;
    background: #79589e;
    color: #fff;
    width: 50px;
    border-radius: 2px;
    font-size: 14px;
    height: 32px;
    padding-top: 9px;
    font-weight: normal;
}

.modal-container .modal-content-btn:hover {
    color: #fff;
    background: #bd5db2;
}

.modal-container #modal-toggle {
    display: none;
}

.modal-container #modal-toggle.active ~ .modal-backdrop, .modal-container #modal-toggle:checked ~ .modal-backdrop {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9990;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s ease-in;
}

.modal-container #modal-toggle.active ~ .modal-content, .modal-container #modal-toggle:checked ~ .modal-content {
    opacity: 1;
    background-color: #fff;
    min-width: 400px;
    width: auto;
    /*min-height: 380px;*/
    padding: 10px 30px;
    position: fixed;
    height: auto;
    margin: 0 auto;
    top: 3%;
    left: 50%;
    transform: translate(-50%, 0%);
    border-radius: 4px;
    z-index: 9999;
    pointer-events: auto;
    cursor: auto;
    visibility: visible;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.6);

}

.modal-content .tab {
    /* !*overflow: hidden;*!
     overflow: auto;*/
    /*border: 1px solid #ccc;*/
    background-color: #f1f1f1;

}

.modal-content .tabcontent {
    text-align: center;
}

/* Style the buttons inside the tab */
.modal-content .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    width: 33%;
    cursor: pointer;
    padding: 12px 14px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.modal-content .tab button:hover {
    background-color: #ddd;
}

.modal-content .tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.modal-content .tabcontent {
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

.modal-content ::-webkit-scrollbar {
    display: none;
}

.modal-content .shown {
    display: block;

}

.modal-container #controllers {

    font-size: 0.8em;
    color: #333;

}

.modal-container #paint {
    border: 1px solid #000;
    background: #fff;
}

.modal-container .controller {
    display: inline-block;
    background: #eee;
    border: 1px solid #e7e7e7;
    padding: 5px;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

canvas {
    margin: auto;
    border: solid 1px;

}

#logged {
    color: red;
    display: flex;
    justify-content: center;
}

.buttons {
    white-space: nowrap;
    min-height: 33px;
    margin-bottom: 15px;
}

.buttons button {
    -webkit-animation: bounceInDown 900ms 200ms ease-in-out both;
    animation: bounceInDown 900ms 200ms ease-in-out both;
    width: 50px;
    height: 33px;
    top: 0;
    text-decoration: none;
    padding-top: 9px;
    outline-width: 0;
    z-index: 990;
    color: #fefeff;
    text-align: center;
    line-height: 26px;
    display: block;
}

.buttons button:not(.active) {
    box-shadow: inset 0 1px 1px rgba(111, 55, 125, 0.8), inset 0 -1px 0px rgba(63, 59, 113, 0.2), 0 9px 16px 0 rgba(0, 0, 0, 0.3), 0 4px 3px 0 rgba(0, 0, 0, 0.3), 0 0 0 1px #150a1e;
    background-image: linear-gradient(#815fa6, #4a2d6a);
    text-shadow: 0 0 21px rgba(223, 206, 228, 0.5), 0 -1px 0 #3b2c47;
}

.buttons button:not(.active):hover, .buttons button:not(.active):focus {
    transition: color 200ms linear;
    transition: text-shadow 500ms linear;
    color: #fefeff;
    text-shadow: 0 0 21px rgba(223, 206, 228, 0.5), 0 0 10px rgba(223, 206, 228, 0.4), 0 0 2px #6a5f6e;
}

.buttons button:not(.active):active {
    color: #e4e3ce;
}

.buttons button:last-of-type {
    -webkit-border-radius: 0 7px 7px 0;
    -moz-border-radius: 0 7px 7px 0;
    -ms-border-radius: 0 7px 7px 0;
    -o-border-radius: 0 7px 7px 0;
    border-radius: 0 7px 7px 0;
}

.buttons button:first-of-type {
    -webkit-border-radius: 7px 0 0 7px;
    -moz-border-radius: 7px 0 0 7px;
    -ms-border-radius: 7px 0 0 7px;
    -o-border-radius: 7px 0 0 7px;
    border-radius: 7px 0 0 7px;
    left: 0;
}

#Canvas .select_shape .select {
    margin: auto;
    margin-bottom: 0.5em;
}

#Canvas .select_shape div {
    margin: 0.7em;
}

#Canvas select {
    -webkit-appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #8652bd;
    background-image: none;
    width: 100%;
    border-radius: 5px;
    height: 100%;
    padding: 0 0 0 .5em;
    color: #fff;
    cursor: pointer;
}

#Canvas .select {
    position: relative;
    display: block;

    width: 11em;
    height: 3em;
    line-height: 3;

    overflow: hidden;
    border-radius: .25em;
}

#Canvas select::-ms-expand {
    display: none;
}

/* Arrow */
#Canvas .select::after {
    margin-top: 2px;
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 1em;
    background: #962fbb;
    border-radius: 9px;
    pointer-events: none;
}

/* Transition */
#Canvas .select:hover::after {
    color: #fefeff;
}

#Canvas .select::after {
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}

[tooltip] {
    /*margin: 20px 60px;*/
    position: relative;
    display: inline-block;
}

[tooltip] svg {
    height: 12px;
    width: 14px;
}

[tooltip]::before {
    content: "";
    position: absolute;
    top: -6px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 4px 6px 0 6px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.7) transparent transparent transparent;
    z-index: 99;
    opacity: 0;
}

[tooltip-position='left']::before {
    left: 0%;
    top: 50%;
    margin-left: -12px;
    transform: translatey(-50%) rotate(-90deg)
}

[tooltip-position='top']::before {
    left: 50%;
}

[tooltip-position='buttom']::before {
    top: 100%;
    margin-top: 8px;
    transform: translateX(-50%) translatey(-100%) rotate(-180deg)
}

[tooltip-position='right']::before {
    left: 100%;
    top: 50%;
    margin-left: 1px;
    transform: translatey(-50%) rotate(90deg)
}

[tooltip]::after {
    content: attr(tooltip);
    position: absolute;
    left: 50%;
    top: -6px;
    transform: translateX(-50%) translateY(-100%);
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    color: #fff;
    padding: 4px 2px;
    font-size: 12px;
    min-width: 80px;
    border-radius: 5px;
    pointer-events: none;
    padding: 4px 4px;
    z-index: 99;
    opacity: 0;
}

[tooltip-position='left']::after {
    left: 0%;
    top: 50%;
    margin-left: -8px;
    transform: translateX(-100%) translateY(-50%);
}

[tooltip-position='top']::after {
    left: 50%;
}

[tooltip-position='buttom']::after {
    top: 100%;
    margin-top: 8px;
    transform: translateX(-50%) translateY(0%);
}

[tooltip-position='right']::after {
    left: 100%;
    top: 50%;
    margin-left: 8px;
    transform: translateX(0%) translateY(-50%);
}

[tooltip]:hover::after, [tooltip]:hover::before {
    opacity: 1
}

#slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

#modalImage {

}

.Grayscale {
    filter: grayscale(100%);
}

.Blur {
    filter: blur(10px);
}

.Sepia {
    filter: sepia(100%);
}

textarea:focus, input:focus {
    outline: none;
}

.dropdown-obiecte:focus {
    outline: 0;
}

.user-name {
    float: left;

}

.data-postare-comment {
    float: right;
    font-size: 80%;
    color: #474747;
}

.casuta-comment {
    display: none;
    border-radius: 5px;
    padding: 5px;
    margin: 0 auto;
    width: 300px;
    text-align: center;
    background-color: #8884ff;
}

.area {
    background-color: #4CAF50;
    border-radius: 5px;
}

.corner_box {
    width: 25px;
    display: none;
    height: 25px;
    background-color: red;
    position: absolute;
}