.formular-comment{
	text-align:center;
	background-color:#428ff4;
}

.btn-submit{
  background: #3fc72a;
  background-image: -webkit-linear-gradient(top, #3fc72a, #208523);
  background-image: -moz-linear-gradient(top, #3fc72a, #208523);
  background-image: -ms-linear-gradient(top, #3fc72a, #208523);
  background-image: -o-linear-gradient(top, #3fc72a, #208523);
  background-image: linear-gradient(to bottom, #3fc72a, #208523);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  text-shadow: 1px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #999999 2px;
  text-decoration: none;
}

.btn-submit:hover {
  background: #208523;
  background-image: -webkit-linear-gradient(top, #208523, #3fc72a);
  background-image: -moz-linear-gradient(top, #208523, #3fc72a);
  background-image: -ms-linear-gradient(top, #208523, #3fc72a);
  background-image: -o-linear-gradient(top, #208523, #3fc72a);
  background-image: linear-gradient(to bottom, #208523, #3fc72a);
  text-decoration: none;
}

.btn-submit:focus {outline:0;}
.btn-submit:visited { color: #999999; }
.btn-submit:active { color: #999999; }

body{
	background-color:#428ff4;
}
.user-name{
	float:left;

}

.data-postare-comment{
	float:right;
	font-size:80%;
	color:#474747;
}

.casuta-comment{
	border-radius: 25px;
	padding:10px;
	margin:0 auto;
	width:400px;
	text-align:center;
	background-color:#f2c554;
}